@import "../../style.scss";

section {
    @include themify($themes) {
        

        .banner-wrapper {
            // box-sizing: content-box;

            img {
                width: 100%;
                height: 45%;
                object-fit: cover;
            }
        }
    }
}