@import "../../style.scss";

section {
    @include themify($themes) {
        padding: 2rem;

        .flex-grid {
            margin: 0 auto;
            display: grid;
            gap: 1rem;
            // grid-template-rows: 150px;
            // grid-gap: 30px;
            grid-template-columns: repeat(4, 1fr);

            @include tablet {
                grid-template-columns: repeat(3, 1fr);
            }

            @include mobile {
                grid-template-columns: repeat(1, 1fr);
            }

            .col {
                background-color: paleturquoise;
                color: thmed('textColor');
                padding: 1rem;
                height: 4rem; 
            }

        }

        
    }
}