@import "../../style.scss";

.filter-section {


    @include themify($themes) {
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: auto;
        width: 90%;
        min-height: 6rem;
        height: auto;
        position: relative;
        align-items: center;
        margin-bottom: 2rem;

        
        @include mobile {
            flex-direction: column;
        }

        .flex-left {
            flex-grow: 1;
            display: flex;
            gap: 3rem;
            align-items: center;
  
            @include mobile {
                flex-direction: column;
                gap: 1rem;
            }
           
            .select-wrapper{
                min-width: 15rem;
                position: relative; 
                display: flex; 
                align-items: center;
            }

            label {
                font-size: 0.89rem; 
                padding-right: 0.3rem;
               color: themed('textColorSoft');
            }
    
            select {
                font-size: 1rem;
                font-weight: 500;
                text-transform: capitalize;
                outline: none;
                padding: 0.5rem;
                border: 0;
                cursor: pointer;
                background-color: inherit;
            
                &:hover {
                    border-bottom: 1px solid themed('highlight');
                }

                option {
                    font-size: 1rem;    
                    font-weight: 500;  
                }
            }

        }

        .flex-right {
            flex-grow: 1;

            .search-wrapper {
                display: flex;
                float: right;
                padding:1rem;
            }
        }

    }

}


}

.info-wrapper {
    margin: 3rem 3rem;
    padding-left: 1rem;

    h2 {
        font-size: 1.3rem;
    }
   
}