@import "../../style.scss";

.filterSection-container {
    display: flex;
    flex-direction: row;
    min-height: 6.8rem;
    height: auto;
    position: relative;
   
    @include themify($themes) {
        .filterSection-wrapper {
            display: flex;
            margin: auto 7.6rem;
            justify-content: space-between;
            width: 100%;

            @include mobile {
                flex-direction: column;
                margin: 0.5rem;
            }

            .option-wrapper {
                display: flex;
                position: relative;
                cursor: pointer;
                align-items: center;

             
                
                //this works
                &:hover {
                    .selectBody {
                        display: block;
                    }
                }

                //use btn here
                .optionHeader-btn {
                    border: 0;
                    background-color: #fff;
                    text-transform: uppercase;
                    letter-spacing: 0.06rem;
                    font-size: 1rem;
                    display: flex;
                    align-items: center;
                    cursor: pointer;

                    @include mobile {
                       width: 100%;
                    }

                    svg {
                        font-size: 2rem;
                    }

                }

                .selectBody {
                    display: none; 
                    flex-direction: column;
                    row-gap: 0.5rem;
                    background: themed('bgSoft');     
                    border: 1px solid themed('border');
                    position: absolute;
                    top: 2rem;
                    z-index: 4;

                    .select-wrapper {
                        min-width: 12rem;
                        font-weight: 400;
                        font-size: 1rem;
                        text-transform: capitalize;
                        cursor: pointer;
                        display: flex;
                        line-height: 2rem;
                        padding: 0.5rem;
                        &:hover {
                            background-color: themed('border');
                        }

                        a {
                            text-decoration: none;
                            color: themed('textColor');    
                        }
                    }
                }
            }
        }

    }
}