@import "../../style.scss";

.filter-section {
    @include themify($themes) {
    .filterSection-container {
        display: flex;
        flex-direction: row;
        min-height: 6rem;
        height: auto;
        position: relative;
        margin: 0 3rem;
        align-items: center;

        .filterBy-wrapper {
            display: flex;
            font-size: 0.8rem;
            align-items: center;
            width: 6rem;
            color: themed('textColorSoft');
            padding-left: 1rem;
        }
        .filterOption-wrapper {
            display: flex;
            column-gap: 3rem;
            align-items: center;
           

            .select-wrapper{
                min-width: 15rem;
                position: relative;  
            }
            .sort-wrapper {
                min-width: 15rem;
                position: relative;         
            }

            select {
                text-transform: capitalize;
                padding: 0.5rem 1.2rem;
                border: 0;
                cursor: pointer;
                border-radius: 5px;


                &:focus {
                    outline: none;
                }

                option {
                    font-size: 0.9rem;

                    &:first-child {
                        text-transform: uppercase;
                    }
                }

            }
        }
        .search-wrapper {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid themed('border');
            border-radius: 5px;
        

            .searchInput {
                width: 100%;                   
                border: 0;
                padding: 1rem 1.2rem;
                outline: none;
            }

            span {
                padding-right: 10px;
            
            }
        }
    }

}


}

.info-wrapper {
    margin: 3rem 3rem;
    padding-left: 1rem;

    h2 {
        font-size: 1.3rem;
    }
   
}