@import "../../style.scss";

.checkout-container {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: row;
    margin: auto;
    width: 75%;
    align-items: center;


    @include mobile {
        flex-direction: column;
        width: 100%;
    }

    @include themify($themes) {
        .checkout-left {
            max-width: 50%;
            float: left;
            flex-grow: 1;
            padding-right: 2rem;
         

            @include mobile {
                min-width: 100%;
                padding-right: 0;
            }

            .returnLink {
                text-decoration: none;
                display: flex;
                align-items: center;
                color: themed('textColor');
            }

            .toggleSummary {
                display: none;
                justify-content: space-between;
                background-color:#f5f5f5;
                padding: 0.7rem 0.5rem;
                margin-top: 0.5rem;
                border-top: 1px solid themed('border');
                border-bottom: 1px solid themed('border');

                @include mobile {
                    display: flex;
                  
                }
                
                .toggle {
                    display: flex;
                    align-items: center;
                    gap: 3px;
                    font-size: 1.01rem;
                    background-color: #f5f5f5;
                    color: themed('bgContrast');
                    border: 0;
                    transition: all 0.2s ease-in;
                    &:hover {
                       color: themed('highlight');
                    }        
                }

            }

        
            .header-wrapper {
                margin-bottom: 1.2rem;
                padding: 0 0.5rem;

                h1 {
                    font-size: 2rem;
                    line-height: 48px;
                    font-weight: 400; 

                    @include mobile {
                        font-size: 1.4rem;
                    }
                }
            }

            .mobile-summary-content {
                box-sizing: border-box;
                background-color: #f5f5f5;
                border-bottom: 1px solid themed('border');
            }

            // table-wrapper defined in orderSummary component
   
            .shippingForm {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                width: 100%;
            }

            .auth-btn {
                width: 100%; 
                button {
                    width: 100%;
                }
               
            }
        
        }

        .checkout-right { 
            display: block;
            padding-top: 4rem;
            padding-bottom: 4rem;
            width: 460px;
            padding-left: 1%;
            float: right;
            position: relative;
            background-color:  #f5f5f5;
            background-position: left top;
            border-left: 1px solid themed('border');

            @include mobile {
              display: none;
            }
            
            
            .summary-content {
                padding: 0 1rem;
                position: sticky;

                // table-wrapper defined in orderSummary component
                   
                .services-wrapper {  
                    display: flex;
                }
            }  
        }
    }
}

