@import "../../style.scss";

.nav {
    @include themify($themes) {
        display: flex;
        position: relative;
        justify-content: center;

        ul {
            list-style: none;

            li {
                font-weight: 300;
                font-style: normal;
                font-size: 1rem;
                line-height: 1.5;
            }
        }

        a {
            text-decoration: none;
            color: themed('textColor');
        }

        .nav-menu {
            display: flex;
            gap: 1rem;
            position: relative;
            justify-content: center;
            flex: 1 0 100%;
           
            // hover display block
            .nav-menu-item {
                padding: 0 12px;
                position: relative;
              
               
                a {
                    position: relative;
                    font-size: .875rem;
                    display: inline-flex;
                    white-space: nowrap;
                }
            }

            .sub-nav {
                display: none;
                position: absolute;
                left: 0;
                right: 0;
                top: 43px;
                width: 100%;
                z-index: 21;
                background: rgb(151, 149, 149);
                padding-top: 40px;
                padding-bottom: 65px;
               
                .dropdown-wrapper {
                    width: 100%;
                    display: flex;
                    margin: 0 auto;             
                }

                h3 {
                    font-size: .875rem;
                    color: #000;
                    line-height: 1.71;
                    font-weight: 400;
                    margin-bottom: 8px;
                    font-weight: 600;
                }

                .sub-menu {
                    .sub-menu-item {
                        &:hover {
                            background-color: #ddd;
                        }
                      
                        a {
                            display: inline-block;
                            position: relative;
                            font-size: .875rem;
                            margin: 8px 0;
                        }
                    }
                }
            }
        } 
        
        .nav-menu:hover .sub-nav{
            display: block;
        }
    }
}