@import "../../style.scss";

.navbar{
    @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 45px;
    border-bottom: 1px solid themed('border');
    background-color: themed("bg");
    color: themed('textColor');


    .left{
        a {
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
            color: #FFC93C;

            span {
                color: themed('logo'),
            }
        }       
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        color: themed('textColor');
        }

        @include mobile{
            display: none;
        }

        @include tablet{
            width: 200px;
        }
    
    }


    .right{
        display: flex;
        gap: 15px;
        align-items: center;

        @include mobile{
            float: right;
        }
     

        a {
        text-decoration: none;
        font-weight: 500;
        color: themed('textColor');
        }

        .menu-icon {
            display: none;
            cursor: pointer;

            @include mobile{
                display: block;
            }
    
        }

    }

    .display-block {
        display: block;
    }

      .display-none {
        display: none;
    }

    .modal-nav{
        position: absolute;
        top: 65px;
        left: 0;
        right: 0;
        background-color: rgba(219, 213, 213, 0.6);
        width: 100%;
        height: fit-content;

        padding: 1rem;
        z-index: 999;
        transition: all 0.3s;
     
    
        .modal-nav-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
           
            a {
                padding: 5px 8px;
                text-decoration: none;
                color: themed('textColor');
               
            }
            


           
                
              
                 
          

        }



    }
       
    

}
}
