
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 45px;
    border-bottom: 1px solid lightgrey;
    background-color: #fff;
    color:  #000;


    .left{
        a {
            font-weight: bold;
            font-size: 20px;
            text-decoration: none;
            color: #FFC93C;

            span {
                color: #5BC0F8,
            }
        }       
    }

    .nav {
        display: flex;
        align-items: center;
        gap: 20px;

        a {
        font-weight: 500;
        font-size: 12px;
        text-decoration: none;
        color: #000;
        }
    }


    .right{
        display: flex;
        gap: 15px;
        align-items: center;
     

        a {
        text-decoration: none;
        font-weight: 500;
        color: #000;
        }

    }
       

}

