@import "../../style.scss";

.flex-container {
    display: flex;
    padding-top: 1.5rem;
    flex-direction: row;
    margin: auto;
    width: 75%;
    align-items: center;

    @include mobile {
        flex-direction: column;
        width: 100%;
    }

    @include themify($themes) {
        .left {
            max-width: 60%;
            float: left;
            flex-grow: 1;
            padding-right: 5rem;

            @include mobile {
                min-width: 100%;
                padding-right: 0;
            }
        }

        .right {
            width: 460px;
            padding-left: 2rem;
            float: right; 
        }
    }
}