@import "../../../style.scss";

.left {
    @include themify($themes) {
            display: flex;
            flex-direction: column;
    
            input {
                background-color:inherit;
            }
        }
 



}