@import "../../../style.scss";

.left {
    @include themify($themes) {
            display: flex;
            flex-direction: column;
    
            .input-wrapper {
                margin-bottom: 4rem;
                display: flex;
                
                .subscription {
                    color: themed('textContrast');
                    font-size: 0.8rem;
                    padding: 1.3rem 1rem; 
                    text-transform: uppercase;
                    word-spacing: 0.3rem;
                    background: transparent;
                    width: 15rem;
                    border: 1px solid themed('border');
                    border-right: none ;
                    opacity: 1;
                    outline: none;
                }

                button {
                    color: themed('textContrast');
                    font-size: 1rem;
                    padding: 0 1rem ;
                    background: transparent;
                    border: 1px solid themed('border');
                    border-left: none;
                    text-align: center;
                    cursor: pointer;
                }

            }

        }
 



}