@import "../../style.scss";

footer {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background-color: themed('bgDark');
    color: themed('textContrast');
    width: 100%;
    overflow: hidden;
    // align-items: center;

    .social {
        display: flex;
        column-gap: 0.4rem;
       
        a {
            color: themed('textContrast');
            text-decoration: none;
            font-size: 1.4rem;
        }
    
    }

    .main { 
        display: flex;
        justify-content: space-between;
        padding: 3rem 4rem 2rem;
        width: 80%;

        @include mobile {
           flex-direction: column;
           padding: 3rem 1rem 3rem 2.5rem;
        }

        .left {
            padding-right: 2rem;
        }

        .right {
            display: grid;
            grid-template-columns: repeat( 3 ,minmax(0,1fr));
            gap: 2rem;

            @include mobile { // will not need this if fix the handleOpenMenu f
                grid-template-columns: repeat(1, minmax(0,1fr));
                display: none;
            }

            .menu {
                display: flex;
                flex-direction: column;

                h6{
                    line-height: 1.8rem;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                    margin-bottom: 1.2rem;
                }

                .submenu {

                    .links{
                        padding-bottom:0.5rem;
                        line-height: 1rem;
                        font-size: 0.8rem;
                        font-weight: 400;
                        text-transform: capitalize;
                 
                        a {
                            text-decoration: none;
                            color: themed('textContrast')
                        }
                    }
                }    
            }     

            .socialWrapper { ///??
                @include mobile {
                    display: none;
                }
            }
        }
    }

    .mobile-right {
        display: none;
        flex-direction: column;
        margin-top: 3rem;

        @include mobile {
            display: flex;
        }

        .mobile-menu {
            // &:first-child {
            //     border-top: 0.75px solid themed('border'); 
            // }
            // border-bottom: 0.75px solid themed('border'); 
            
            .menu-item-header { ///header has border bottom inherit from the Header
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: inherit;
    
                span {
                    font-size: 0.9rem;
                     line-height: 0.9rem;
                     font-weight: 500;
                     text-transform: uppercase;
                     letter-spacing: .06rem;
                }

                .icon-wrapper {
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    cursor: pointer;
                }
            }

            .submenu-items {
                margin-top: 1rem;
                margin-bottom: 1.5rem;
                display: flex;
                flex-direction: column;

                a {
                    // color: themed('textContrast');
                    color: lightcoral;
                    text-decoration: none;
                    padding-bottom: 2px;
                    cursor: pointer;
                    font-size: 0.8rem;
                    line-height: 0.7rem;
                    margin-bottom: 0.7rem;
                    text-transform: capitalize;
                }
            }
        }
    }


    .mobile-logo-social {
        display: none; 
        justify-content: space-between;
        align-items: center;
        padding: 2rem 3.3rem;
    
        @include mobile{
            display: flex;   
        }
    }

    .logo {
       padding-left: 4rem;

       @include mobile{
        display: none;   
       }
    }
    
    .footer {
        display: flex;
        padding: 0.8rem 0.7rem 0.6rem;
        justify-content: space-between;
        border-top: 0.1rem solid themed('border');
        background-clip: padding-box;
        color: themed('textContrast');
        justify-content: center;

        div {
            color: #96989f;
            font-size: 0.8rem;
            line-height: 1.9rem;
            margin-bottom: 0.1rem;
            text-transform: capitalize;
        }
    }
 }
    
}
