@import "../../style.scss";

footer {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background-color: themed('bgContrast');
    color: themed('textContrast');
    width: 100%;
    overflow: hidden;
    

    .main {
        display: flex;
        column-gap: 23rem;
        justify-content: flex-start;
        padding: 7rem 8rem 5rem;
        background-color: #96989f;

        @include mobile {
            display: none;
      
        }

        .right {
            display: flex;
            column-gap: 8rem;
            width: 100%;
          

            .nav {
                display: flex;
                flex-direction: column;

                h6{
                    line-height: 1.8rem;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                    margin-bottom: 1.8rem;
                }

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    
                    li {
                        padding-bottom:0.5rem;
                        line-height: 1rem;
                        font-size: 0.8rem;
                        font-weight: 400;
                        text-transform: capitalize;
                 
                        a {
                            text-decoration: none;
                            color: themed('textContrast')
                        }
                    }
                }

                    .social-column {
                      display: flex;
                      column-gap: 0.4rem;
                     
                        a {
                            color: themed('textContrast');
                            text-decoration: none;
                            font-size: 1.4rem;
                        }
                    }
               
            }

        }
    }

    .mobile-main {
        display: none; 
        padding:  3.4rem 2.9rem 2.8rem;;

        @include mobile {
            display: block;
        }

        section {
            display: flex;
            flex-direction: column;

            .mobile-nav {
                padding: 2rem 0;
                border-bottom: 0.75px solid themed('border');  //last child
                

                header {
                    display: flex;
                    justify-content: space-between;

                    span {
                        font-size: 0.9rem;
                         line-height: 0.9rem;
                         font-weight: 500;
                         text-transform: uppercase;
                         letter-spacing: .06rem;
                    }

                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        font-size: larger;
                    }
                }

                .display-block {
                    margin-top: 1.5rem;
                    display: flex;
                    flex-direction: column;

                    a {
                        color: themed('textContrast');
                        text-decoration: none;
                        padding-bottom: 2px;
                        cursor: pointer;
                        font-size: 0.8rem;
                        line-height: 0.7rem;
                        margin-bottom: 0.7rem;
                        text-transform: capitalize;
                    }

                }

                .display-none {
                    display: none;
                }
            }
        }
    }
    
    // .mobile-right .row  :first-child {
    //     border-top: 0.75px solid themed('border'); //first child
    // }

    .mobile-logo-social {
        display: none; 
        justify-content: space-between;
        align-items: center;
        padding: 2rem 4rem;
        margin-top: 4rem;
        margin-bottom: 3rem;
        background-color: aquamarine;
        
        @include mobile{
            display: flex;   
           }

        .mobile-social-column {
            display: flex;
            column-gap: 0.3rem;

            a {
                color: themed('textContrast');
                text-decoration: none;
                font-size: 1.8rem;
            }
        }
    }

    .logo {
       padding-left: 3rem;

       @include mobile{
        display: none;   
       }
    }
    
    .footer {
        display: flex;
        padding: 0.8rem 0.7rem 0.6rem;
        justify-content: space-between;
        border-top: 0.1rem solid themed('border');
        background-clip: padding-box;
        color: themed('textContrast');
        justify-content: center;

        div {
            color: #96989f;
            font-size: 0.8rem;
            line-height: 1.9rem;
            margin-bottom: 0.1rem;
            text-transform: capitalize;
        }
    }

    
  }
}