@import "../../style.scss";

footer {
  @include themify($themes) {
    display: flex;
    flex-direction: column;
    background-color: themed('bgDark');
    color: themed('textContrast');
    width: 100%;
    overflow: hidden;

    .social {
        display: flex;
        column-gap: 0.4rem;
       
        a {
            color: themed('textContrast');
            text-decoration: none;
            font-size: 1.4rem;
        }
    
    }

    .main { 
        display: flex;
        justify-content: space-between;
        padding: 3rem 4rem 2rem;
        width: 80%;

        @include mobile {
           flex-direction: column;
           padding: 3rem 1rem 3rem 2.5rem;
        }

        .links{
            padding:0.5rem 0;
            line-height: 1rem;
            font-size: 0.8rem;
            font-weight: 400;
            text-transform: capitalize;

            a {
                color: themed('textContrast');
                text-decoration: none;
                padding-bottom: 2px;
                cursor: pointer;
                font-size: 0.8rem;
                line-height: 0.7rem;
                margin-bottom: 0.7rem;
                text-transform: capitalize;
            }
        }

        .right {
            display: grid;
            grid-template-columns: repeat( 3 ,minmax(0,1fr));
            gap: 2rem;

            @include mobile { 
                display: none;
            }

            .menu {
                display: flex;
                flex-direction: column;

                h6{
                    line-height: 1.8rem;
                    letter-spacing: .1rem;
                    text-transform: uppercase;
                    margin-bottom: 1.2rem;
                }
            }     

        }

        .mobile-right {
            display: none;
            flex-direction: column;
            margin-top: 3rem;
    
            @include mobile {
                display: flex;
            }
    
            .mt-15 {
                .menu-item {
                    border-bottom: 0.75px solid themed('border');
                    padding: 1rem 0;

                    &:first-of-type {
                        border-top: 0.75px solid themed('border');
                    }
                }

                .header { 
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: inherit;
                    cursor: pointer;
        
                    span {
                        font-size: 0.9rem;
                         line-height: 0.9rem;
                         font-weight: 500;
                         text-transform: uppercase;
                         letter-spacing: .06rem;
                    }
    
                    .icon-wrapper {
                        display: flex;
                        align-items: center;
                        font-size: 2rem;
                        
                    }
                }
    
                .mobile-submenu {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }




    .mobile-logo-social {
        display: flex; 
        justify-content: space-around;
        align-items: center;
        padding: 2rem 4rem;

        .logo{
            a {
                font-weight: bold;
                font-size: 1.2rem;
                line-height: 1.5rem;
                text-decoration: none;
                color: themed('textContrast');
                cursor: pointer;
            }       
        }
    }

    
    .footer {
        display: flex;
        padding: 0.8rem 0.7rem 0.6rem;
        justify-content: space-between;
        border-top: 0.1rem solid themed('border');
        background-clip: padding-box;
        color: themed('textContrast');
        justify-content: center;

        div {
            color: #96989f;
            font-size: 0.8rem;
            line-height: 1.9rem;
            margin-bottom: 0.1rem;
            text-transform: capitalize;
        }
    }
 }
    
}
