$themes: (
    light: (
        textColor: #1D201F,
        textContrast: #fff, 
        bg: #fff,
        bgSoft: #F8F8D9, //chestnut
        bgDark: #2d313f,//dark blue
        border: #ccc,
        highLight: #3CA9AB, 
        highLightSoft: #59CCC5, 
      ),
    dark: (
        // textColor: #def3f6,
        // textContrast: #1D201F,
        // bg: #203d4b,
        // bgSoft: #205255,
        // border: #205255, 
        // logoTheme: #3CA9AB, 
        // logoThemeSoft:#547C7C 
      ),
);


@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
  
  @mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 800px) {
      @content;
    }
  }

  