$themes: (
    light: (
        textColor: #000,
        bg: #fff,
        logo: #4d77ff,
        bgSoft: #f6f3f3,
        bgContrast: #2d313f,
        textContrast: #fff,
        textColorSoft: #555,
        border: lightgray,
        highlight: #ffd54d,
        bgHighlight: rgb(240, 201, 74),
        danger: #FF1818,
     
      ),
    dark: (
      textColor: #def3f6,
      bg: #253f4b,
      logo: #0081C9, 
      bgSoft: #f2fdff,
      textColorSoft: #fff,
      border: lightgray,
      ),
);


@mixin themify($themes) {
    @each $theme, $map in $themes {
      .theme-#{$theme} & {
        $theme-map: () !global;
        @each $key, $submap in $map {
          $value: map-get(map-get($themes, $theme), "#{$key}");
          $theme-map: map-merge(
            $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
    }
  }
  
  @function themed($key) {
    @return map-get($theme-map, $key);
  }
  
  @mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }
  @mixin tablet {
    @media (max-width: 768px) {
      @content;
    }
  }

  