@import "../../style.scss";

.productDetail-section {
    display: flex;
    align-items: center;
    margin: 0.5rem 10rem 3rem 10rem;

    @include tablet {
        margin: 0.5rem auto 2rem;
    }

    @include themify($themes) {
        .productDetail {
            display: flex;
            flex-direction: row;
            gap: 2rem;

            @include mobile {
                flex-direction: column;
                gap: 0;
            }

            @include tablet {
                flex-direction: column;
                gap: 0;
            }

            .img-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                box-sizing: border-box;
                width: 100%;
                padding: 2rem;

                img {
                    width: 100%;
                
                    @include mobile {
                        max-width: 350px;
                        max-height: 170px;
                    }
                }

            }

            .info-wrapper {
                display: flex;
                align-items: flex-start;
                flex-direction: column;
                padding: 0 2rem;
                margin: 0 0;

                @include mobile {
                    align-items: center;
                }
                @include tablet {
                    align-items: center;
                }

                h2 {
                    font-weight: 400;
                    font-size: 2.5rem;
                    color: themed('textColorSoft');   
                
                    @include mobile {
                        font-size: 1.5rem;
                    }
                }

                .rating-wrapper {
                    display: flex;
                    gap: 0.2rem;
                    height: 1.9rem;
                    margin-bottom: 2.3rem;
                    cursor: pointer;
                    align-items: center;

                    span {
                        padding-left: 0.3rem;
                    }
                }

                .price-wrapper {
                    display: flex;
                    height: 1.9rem;;
                
                    span {
                        font-weight: 500;
                    }
                }

                .des-wrapper{
            
                    margin-top: 0.5rem;

                    span {
                        font-style: normal;
                        font-size: 1.2rem;

                        @include mobile {
                            font-size: 1.0rem;
                        }
                    }
                }

            

                .addBtn-wrapper {
                    width: 80%;
                    margin-top: 3rem;

                    .add-btn {
                        width: 100%;
                        height: 4.5rem;
                        font-weight: 500;
                        font-size: 1.4rem;
                        line-height: 1.6rem;
                        text-align: center;
                        letter-spacing: .05em;
                        text-transform: uppercase;
                        border-radius: 35px;
                        color: themed('textContrast');
                        background-color: themed('bgContrast');
                        border: 0;
                        transition: all 0.2s ease-in;

                        &:hover {
                            background-color: themed('highlight');
                        }

                        @include mobile {
                            font-size: 1.0rem;
                            height: 3rem;
                        }
                    }
                }
            }
        }
    }
}