@import "../../style.scss";

.common-section {
    height: 300px;
    width: 100%;
    background-size: cover;
    background-image: url('../../assets/jewelry.jpg') ;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;


    @include themify($themes) {
        h1 {
            color: themed('textContrast');
            font-weight: 600;
            text-transform: capitalize;
            font-size: 2rem;
        }

    }
}